@each $name, $color in $colors {
  .has-#{$name}-bg {
    background-color: $color !important;
    color: findColorInvert($color) !important;
    border-color: findColorInvert($color) !important;
  }
}
