.centered-two-column-layout {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  .main {
    @extend .column;
    @extend .is-8-tablet;
    @extend .is-5-desktop;
    @extend .is-offset-2-desktop;

  }

  .sidebar {
    @extend .column;
    @extend .is-4-tablet;
    @extend .is-3-desktop;
  }
}
