.three-column-layout {
  display: flex;

  .main {
    @extend .column;
    @extend .is-4;
  }

  .sidebar {
    @extend .column;
    @extend .is-2;

    &:last-child {
      @extend .is-4;
    }
  }
}

@include mobile {
  .three-column-layout {
    display: block;
  }
  .main, .sidebar {
    display: block;
    width: 100%;
  }
}
