.level__item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;

  &:not(:last-child) {
    margin-right: map-get($sizes, 'xsmall');
  }

  .title,
  .subtitle {
    margin-bottom: 0;
  }

}
