.modal__card-header {
  align-items: center;
  background-color: $background;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid $border;
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
}