.modal__content {
  @include has-margin('medium', 'horz');
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;

  @include tablet {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}