.nav__item {
  @include has-padding('xsmall', 'vert');
  @include has-padding('small', 'horz');
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  line-height: 1.5;
}

a.nav__item {
  color: inherit;
  transition: background-color .3s ease-out;

  &:hover {
    transition: background-color .3s ease-out;
    background-color: rgba(#000, 0.1);
    mix-blend-mode: luminosity;

    span {
      isolation: isolate;
    }
  }

  &:active {
    transition: background-color .3s ease-out;
    background-color: rgba(map-get($colors, 'black'), 0.2);
  }


  // Modifiers
  &--is-active {
    color: inherit;
  }
}
