@each $position, $position-name in $positions {
  @if(type-of($position-name) == 'string') {
    $m: positions('margin', $position);
    @each $size-letter, $size in $sizes {

      @if($size-letter == 'no') {
        .has-#{$size-letter}-#{$position-name}-margin {
          #{$m}: #{$size} !important;
        }
      }
      @else {
        .has-#{$size-letter}-#{$position-name}-margin {
          #{$m}: #{$size} !important;
        }
      }

      @include mobile {
        .has-#{$size-letter}-#{$position-name}-margin-mobile {
          #{$m}: #{$size} !important;
        }
      }

      @include tablet {
        .has-#{$size-letter}-#{$position-name}-margin-tablet {
          #{$m}: #{$size} !important;
        }
      }

      @include desktop {
        .has-#{$size-letter}-#{$position-name}-margin-desktop {
          #{$m}: #{$size} !important;
        }
      }

      @include fullhd {
        .has-#{$size-letter}-#{$position-name}-margin-fullhd {
          #{$m}: #{$size} !important;
        }
      }
    }
  }
  @if(type-of($position-name) == 'map') {

    @if($position == 'every') {
      $m1: positions('margin', map-get($position-name, '1'));
      $m2: positions('margin', map-get($position-name, '2'));
      $m3: positions('margin', map-get($position-name, '3'));
      $m4: positions('margin', map-get($position-name, '4'));

      @each $size-letter, $size in $sizes {
        .has-#{$size-letter}-margin {
          margin: #{$size} !important;
          #{$m1}: #{$size} !important;
          #{$m2}: #{$size} !important;
          #{$m3}: #{$size} !important;
          #{$m4}: #{$size} !important;
        }

        @include mobile {
          .has-#{$size-letter}-margin-mobile {
            margin: #{$size} !important;
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
            #{$m3}: #{$size} !important;
            #{$m4}: #{$size} !important;
          }
        }

        @include tablet {
          .has-#{$size-letter}-margin-tablet {
            margin: #{$size} !important;
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
            #{$m3}: #{$size} !important;
            #{$m4}: #{$size} !important;
          }
        }

        @include desktop {
          .has-#{$size-letter}-margin-desktop {
            margin: #{$size} !important;
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
            #{$m3}: #{$size} !important;
            #{$m4}: #{$size} !important;
          }
        }

        @include fullhd {
          .has-#{$size-letter}-margin-fullhd {
            margin: #{$size} !important;
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
            #{$m3}: #{$size} !important;
            #{$m4}: #{$size} !important;
          }
        }
      }
    }
    @else {
      $m1: positions('margin', map-get($position-name, '1'));
      $m2: positions('margin', map-get($position-name, '2'));

      @each $size-letter, $size in $sizes {

        .has-#{$size-letter}-#{$position}-margin {
          #{$m1}: #{$size} !important;
          #{$m2}: #{$size} !important;
        }

        @include mobile {
          .has-#{$size-letter}-#{$position}-margin-mobile {
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
          }
        }

        @include tablet {
          .has-#{$size-letter}-#{$position}-margin-tablet {
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
          }
        }

        @include desktop {
          .has-#{$size-letter}-#{$position}-margin-desktop {
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
          }
        }

        @include fullhd {
          .has-#{$size-letter}-#{$position}-margin-fullhd {
            #{$m1}: #{$size} !important;
            #{$m2}: #{$size} !important;
          }
        }
      }
    }
  }
}
